<div class="base-content-wrapper">
    <div class="base-max-width-wrapper">
        <div class="base-inner-content-wrapper">
            <div class="course-fee-inner">
                <app-text-header [text]="'Course fee'" [backgroundText]="'Course fee'"></app-text-header>

                <div class="content">
                    <div class="achievements">
                        <div class="info">
                            <div class="question">
                                What will be our achievements by participating in this course?
                            </div>
                            <div class="answers">
                                <div class="answer">
                                    Learn the requirements of a product designer from experienced professionals in the
                                    field.
                                </div>
                                <div class="answer">
                                    Experience in-team work and product designer interactions within the real product
                                    team.
                                </div>
                                <div class="answer">
                                    Experience working on projects with information and feature lists and real user
                                    recognition.
                                </div>
                                <div class="answer">
                                    Possibility to take Adobe exams upon completion of course and upon registration.
                                </div>
                            </div>
                        </div>

                        <div class="fee">
                            <span class="old-price">4,000,000 Toman</span>
                            <span class="new-price">2,300,000 Toman</span>
                            <span class="pay-periodic"> Possibility to pay periodic installment fee. </span>
                            <div class="button-wrapper">
                                <button class="register-button">Register</button>
                            </div>
                        </div>
                    </div>

                    <div class="line-separator"></div>

                    <div class="footer">
                        Possibility of refund prior to the third session if the course quality is not satisfied.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>