//COLORS

$black: #000000;
$white: #ffffff;

$middle-gray: #f1f1f1;
$light-gray: #fafafa;
$dark-gray: #707070;

$button-gray: #b4b4b4;
$button-orange: #f46632;

$shadow-color: #a6a6a6;
$shadow-opacity: 0.3;
