
@import "../../../../scss/home/component-wrapper";

.base-content-wrapper{
    background-color: #fafafa;
    
  }
  
  .base-inner-content-wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color:#fff;
  }