<div class="base-content-wrapper">
    <div class="base-max-width-wrapper">
        <div class="base-inner-content-wrapper">


            <div class="about-us-inner">
                <div class="about-visual">
                    <div class="about-video">
                        <img src="assets/img/home/about-product-factory.svg" alt="Product factory">
                    </div>
                    <div class="about-us">
                        <app-text-header class="about" [text]="'About us'" [backgroundText]="'About'"></app-text-header>
                        <div class="about-links">
                            <img class="link" src="assets/img/shared/facebook.svg" alt="facebook">
                            <img class="link" src="assets/img/shared/twitter.svg" alt="twitter">
                            <img class="link" src="assets/img/shared/instagram.svg" alt="instagram">
                        </div>
                    </div>
                </div>
                <div class="about-text">
                    <p>
                        Today, given the economic and labor market conditions, the best and least risky way to invest is
                        to
                        invest in personal assets and skills.
                    </p>
                    <p>
                        UI / UX Product Design Course covers all aspects of product design from product thinking and
                        design
                        to user-centric research and product research and business vision and digital marketing to
                        product
                        designers and creators, designing the end-user experience and interface of the product and how
                        to
                        deliver it. Includes.
                    </p>
                    <p>
                        In this course, we have tried to use the presence of successful and experienced experts in each
                        of
                        the above mentioned areas to engage in more specialized interaction as a mentor. This course is
                        project-oriented and participants in several product teams are working to improve their product
                        quality. And then start competing with other teams in a healthy, learning-filled competition.
                    </p>
                    <p>
                        Finally, after the final exam and competition, participants will be awarded a Certificate of
                        Product
                        Factory certification.
                    </p>
                </div>
            </div>

            
        </div>
    </div>
</div>