@font-face {
	font-family: "ProductSans";
	src: url("././assets/fonts/ProductSans/ProductSans-Book.ttf");
	src:url("././assets/fonts/ProductSans/ProductSans-Book.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ProductSans";
	src: url("././assets/fonts/ProductSans/ProductSans-Medium.ttf");
	src:url("././assets/fonts/ProductSans/ProductSans-Medium.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "ProductSans";
	src: url("././assets/fonts/ProductSans/ProductSans-Bold.ttf");
	src:url("././assets/fonts/ProductSans/ProductSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "ProductSans";
	src: url("././assets/fonts/ProductSans/ProductSans-Bolder.ttf");
	src:url("././assets/fonts/ProductSans/ProductSans-Bolder.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}