<div class="fixex-position">
  <div class="base-content-wrapper">
    <div class="base-max-width-wrapper">
      <div class="menu-content-wrapper">
        <div class="menu">
          <img class="logo" src="assets/img/shared/light-logo.svg" alt="logo" />
          <div class="item">Projects</div>
          <div class="item">Partners</div>
          <div class="item">FAQ</div>
          <div class="item">Masters</div>
          <div class="item">Classes</div>
          <div class="item">Course Experience</div>
          <div class="item">About us</div>
        </div>
        <div>
          <button class="register-button"> Register</button>
        </div>
      </div>
    </div>
  </div>
</div>