@import "./src/scss/utils/variables.scss";
@import "./src/scss/utils/mixin.scss";

.base-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.base-max-width-wrapper {
  padding: 0px 15px;
  max-width: 1460px;
  width: 100%;
}

.base-inner-content-wrapper {
  padding: 0px 15px;
  border-radius: 30px;

  @include shadow(30px, 30px, 103px, -5px);
}
