<div class="base-content-wrapper">
  <div class="base-max-width-wrapper">
    <div class="base-inner-content-wrapper">
      <div class="register-inner">
        <div class="info">
          <div class="ui-ux">
            <img src="assets/img/home/ui-ux.svg" alt="ui ux">
            <div class="header">
              Product Design Course
            </div>
            <div class="subheader">
              Product Factory
            </div>
          </div>

          <div class="text">
            <p>Learn how design thinking, user research,</p>
            <p>business vision and marketing, and finally designing</p>
            <p>and creating real digital products for real users.</p>
          </div>
          <button class="">Start Register</button>
        </div>
        <div class="factory-img">
          <img class="logo" src="assets/img/home/kia-ux-course.svg" alt="Product design course">
        </div>
      </div>
    </div>
  </div>
</div>