<div class="base-content-wrapper">
    <div class="base-max-width-wrapper">
        <div class="base-inner-content-wrapper">
            <div class="request-list-of-headings-inner">
                <div class="content">
                    <div class="email-form">

                        <div class="header">
                            Request a list of headings
                        </div>
                        <div class="description">
                            Please enter your email address to receive course titles, the topics will be emailed to you.
                        </div>
                        <input class="mail-input" type="text" [value]="'AfshinT2Y@gmail.com'">


                    </div>
                    <div class="message">
                        <span>Your email has been successfully registered, headlines will be sent to you soon.</span>
                    </div>
                </div>


                <img class="mail" src="assets/img/home/request-list-of-headings/mail.svg" alt="mail">


            </div>
        </div>
    </div>
</div>