@import "./src/scss/home/component-wrapper";
@import "./src/scss/utils/variables.scss";
@import "./src/scss/utils/mixin.scss";

.base-content-wrapper {
  background-color: $light-gray;
  color: $black;
}

.base-inner-content-wrapper {
  background-color: $light-gray;
  color: $black;
  margin: 170px 0px 560px;
  box-shadow: none;
  padding: 0px;
}

.mat-expansion-panel {
  @include shadow(0px, 0px, 29px, -1px);
  margin: 0px 0px 35px;
  &:hover {
    background-color: $white;
  }
  &:last-child {
    margin: 0px;
  }
  border-radius: 30px !important;
  .mat-expansion-panel-header {
    padding: 0px 50px;
    &:hover {
      background-color: $white;
    }
    .panel-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .panel-description {
      }
      img {
        width: 18px;
        height: 18px;
      }
    }
  }

  .panel-text {
    margin: 0px -24px;
    padding: 0px 50px;
  }
}
